# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.*

# Database
db.sqlite3
db.sqlite3-journal
*.sqlite3

# Logs
logs/
*.log

# Static & Media (generated/uploaded)
staticfiles/
media/

# IDEs
.vscode/
.idea/

# Testing/Coverage
htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/
